* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./../assets/wallpaper.webp");
  position: absolute;
}



main{
  /*background-color: #e3baba;*/
  background: linear-gradient(to right bottom,#8e8e8e, #5b5b5b6b );
  height: 90%;
  width: 60%;
  /*3.5" X 2.0"*/
  border-radius: 30px;
  text-align: center;
  box-shadow:  0 0 2000px rgba(220, 220, 220, 0.228);
  padding: 1%;
}

header{
  font-size: 30px;
}

.p1{
  margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 20px;
  text-align: center;
}

.p2{
  margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15%;
}


a, a:hover{
 color: black;
 font-size: 25px;
}